@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --input-black-color: #121212;
  --dark-black-color: #181818;
  --back-color: #212121;
  --light-black-color: #323232;
  --white-color: whitesmoke;
  --red-color: #cc0000;
  --blue-color: #3ea6ff;
  --gray-color: #AAAAAA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

body {
  background-color: var(--dark-black-color);
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}